* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	margin: 0px;
	padding: 0px;
	
}

.cabecalho {	
	display:flex;
	justify-content: space-between;
	background-color: #d0fcb4;
/*	height: 56px;
	padding: 10px 5px;
	margin: 0px;
	*/
}

.barra {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	background-color: #b4c4ff;
	font-size: 25px;	
	align-items: center;
	border-radius: 25px 0 0 25px;
	font-family: "BenchNine", sans-serif;
	font-weight: 300;
	font-style: normal;
}
.barra ul {
	display: flex;
	gap: 2rem;	
} 

.barra li {
	list-style-type: none;
	padding-left: 50px;
}

.barra ul a {
	text-decoration: none;
	color: black;
}

header nav a:hover {
	text-decoration: underline;
}

#logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: 300px;
	font-family: "Carattere", cursive;
	font-weight: 400;
	font-size: 35px;
	font-style: normal;
}

#logo * {
	display: flex;
	align-items: center;
	padding: 5px;
}

#capa {
	display: flex;
	justify-content: center;
	height: auto;
	width: 100vw;
	background-image: url("img/gravida-com-doula-grande.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
	/* filter: grayscale(100%) */
}

#capa span {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;	
	font-family: "BenchNine", sans-serif;
	font-weight: 300;
	font-size: 200px;
	font-style: normal;
	color: white;
}

.grid {

}

.quadro {
	width: 24%;
}

.imagem {

}

.imagem img {
	width: 24vh;
}

footer {
	background-color: #d0fcb4;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Carattere", cursive;
	font-weight: 400;
	font-size: 35px;
	font-style: normal;
}

footer * {
	display: flex;
	align-items: center;
	padding: 5px;
}

/* .w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0} */
/* .w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}*/
/* .w3-bar .w3-button{white-space:normal} */